<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width"/>
        <link rel="stylesheet" href="css/style.css"/>

        <title>Quiz</title>
    </head>

    <body>
        <div class="container">
            <div id="question">
                <%= question %>
            </div>
            <hr>
            <div id="answers">
                <form action="/check_answer" method="post">
                    <%for(var answer of answers) {%>
                        <div class="answer">
                            <input type="radio" id="<%= answer %>" name="answer" value="<%= answer %>"/>
                            <label for="<%= answer %>">
                                <%= answer %>    
                            </label>
                        </div>
                    <% } %>
                    <input type="submit" value="Submit Answer">
                </form>
            </div>
        </div>
    </body>
</html>