<div class="container">
    <div id="question">
        {{question}}
    </div>
    <hr>
    <div id="answers">
        <form action="/check_answer" method="post">
            {{#each answers}}
                <div class="answer">
                    <input type="radio" id="{{this}}" name="answer" value="{{this}}"/>
                    <label for="{{this}}">
                        {{this}}
                    </label>
                </div>
            {{/each}}
            <input type="submit" value="Submit Answer">
        </form>
    </div>
</div>